version: '3.8'

services:
  pgadmin:
    build: .
    container_name: pgadmin_render
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    volumes:
      - ./servers.json:/pgadmin4/servers.json
    restart: always
